 


<div class="container">

  <!-- No data message -->
  <p *ngIf="Employee.length <= 0" class="no-data text-center">
    There is no employee added yet!
  </p>


  <!-- Employee list -->
  <table class="table " *ngIf="Employee.length > 0">
    
    
    <thead >
      
      <tr id="headers">
        <th scope="col">S.No</th>
        <th scope="col">Location</th>
        <th scope="col">CounterNo</th>
        <th scope="col">Customer</th>
        <th scope="col">InvoiceDate</th>
        <th scope="col">InvoiceNo</th>
        <th scope="col">Currency</th>
        <th scope="col">SalesExRate</th>
        <th scope="col">LocalExRate</th>
        <th scope="col">PlaceOfDelivery</th>
        <th scope="col">Customer/Remarks</th>
        <th scope="col">MarketingPerson</th>
        <th scope="col">LocalCurrency</th>

        <th scope="col center"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of Employee; let i = index">
        <td scope="row">{{ i + 1 }}</td>
        <td>{{ employee.location }}</td>
        <td>{{ employee.counterNo }}</td>
        <td>{{ employee.customer }}</td>
        <td>{{ employee.invoiceDate }}</td>
        <td>{{ employee.invoiceNo}}</td>
        <td>{{ employee.currency }}</td>
        <td>{{ employee.salesExRate }}</td>
        <td>{{ employee.localExRate }}</td>
        <td>{{ employee.placeOfDelivery }}</td>
        <td>{{ employee.customerRemarks }}</td>
        <td>{{ employee.marketingPerson }}</td>
        <td>{{ employee.localCurrency }}</td>

      
        <td class="text-center edit-block">
          <!-- <span class="edit" [routerLink]="['/edit-employee/', employee._id]">
            <button type="button" class="btn btn-success btn-sm">Edit</button>
          </span> -->
          <span class="delete" (click)="removeEmployee(employee, i)">
            <button type="button" class="btn btn-danger btn-sm">Delete</button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
